html {
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: inherit;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background-color: transparent;

  &:active, &:hover {
    outline-width: 0;
  }
}

b {
  font-weight: bolder;
}

img {
  border-style: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

body {
  font-family: Verdana,sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

html {
  font-family: Verdana,sans-serif;
  font-size: 15px;
  line-height: 1.5;
  overflow-x: hidden;
}

body, h4, html {
  font-family: Roboto,sans-serif;
}

h4 {
  font-size: 20px;
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: 400;
  margin: 10px 0;
}

img {
  vertical-align: middle;
}

a {
  color: inherit;
}

.btn {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:disabled {
    cursor: not-allowed;
    opacity: .3;
  }

  &:hover {
    color: $black !important;
    background-color: $light-gray !important;
  }
}

:disabled * {
  pointer-events: none;
}

.sidebar {
  height: 100%;
  width: $side-bar-width;
  background-color: $light-gray;
  position: fixed !important;
  z-index: 20;
  overflow: auto;
  top: $top-bar-height;
  bottom: 0;
  font-size: 16px;

  .submenu {
      font-size: 14px;

      .menu-item {
          padding-left: 2.5rem;
      }
  }

  .close-menu {
      display: block;
      padding: 12px 24px !important;

      img {
        width: 30px;
        height: 30px;
    }
  }
}

.main-content {
  transition: margin-left .4s;
  margin-left: $side-bar-width;
}

header {
  width: 100%;
  overflow: hidden;
  height: $top-bar-height;
  background-color: $dark;
  z-index: 20;
  position: fixed;
  top: 0;

  &:after, &:before {
    content: "";
    display: table;
    clear: both;
  }

  a.site-title {
    line-height: $top-bar-height;
    margin: 0;
    padding: 0;
    height: $top-bar-height;
    display: block;
    width: $side-bar-width;
    padding-left: 30px;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: $very-dark;
    color: $white;
  }

  .menu-btn {
    padding: 0;
    float: left;
    border: none;
    display: block;
    outline: 0;
    line-height: $top-bar-height;

    width: $top-bar-height;
    height: $top-bar-height;
    margin-right: 20px;
  }

    .search-container {
        float: right;
        margin: 9px 20px 0 0;
        padding: 0;
    }
    input.search-text {
        height: 40px;
        line-height: 40px;
        background: #FFF;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        // border: solid 1px $very-dark;
        // border-right: 0;
        border: 0;
        color: inherit;
        display: inline-block;
        outline: 0;
        padding: 0 1em;
        text-decoration: none;
        font-size: 11pt;
        margin: 0;
    }
    button.search-btn {
        height: 40px;
        line-height: 40px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        // border: solid 3px $very-dark;
        // border-left: 0;
        border: 0;
        margin: 0 0 0 -5px;
        text-transform: uppercase;
        font-size: 11pt;
        padding: 0 10px;
        background: $white;
        color: $dark;

        img {
            width: 25px;
            height: 25px;
        }

        &:hover {
            background: $light-gray;
            cursor: pointer;
        }
    }
}

nav {
    display: block;

    .submenu-title {
        display: block;
        width: 100%;
        text-align: left;
        text-decoration: none;
        padding: 8px 16px;
        margin: 8px 0 0 0;
        font-size: 16px;
        background-color: $gray;

        &.depth-1 { padding-left: 16px; font-size: 1rem; margin: 0; text-transform:uppercase;; }
        &.depth-2 { padding-left: 35px; font-size: 1rem; background-color:transparent; font-weight: bold; margin: 0; text-transform:uppercase;; }
        &.depth-3 { padding-left: 45px; font-size: 1rem; background-color:transparent; font-weight: bold; margin: 0; text-transform:uppercase;; }
        &.depth-4 { padding-left: 55px; font-size: 1rem; background-color:transparent; font-weight: bold; margin: 0; text-transform:uppercase;; }
        &.depth-5 { padding-left: 60px; font-size: 1rem; background-color:transparent; font-weight: bold; margin: 0; text-transform:uppercase;; }
        &.depth-6 { padding-left: 65px; font-size: 1rem; background-color:transparent; font-weight: bold; margin: 0; text-transform:uppercase;; }
    }


    .menu-item {
      width: 100%;
      display: block;
      padding: 8px 16px;
      text-align: left;
      border: none;
      white-space: normal;
      float: none;
      outline: 0;
      text-decoration: none;

      &.submenu-item {
          font-size: 0.9rem;
          padding-top: 6px;
          padding-bottom: 6px;

          &::before { content:"• "; }

          &.depth-1 { padding-left: 25px; }
          &.depth-2 { padding-left: 35px; }
          &.depth-3 { padding-left: 45px; }
          &.depth-4 { padding-left: 55px; }
          &.depth-5 { padding-left: 60px; }
          &.depth-6 { padding-left: 65px; }
      }

      &:hover {
          background-color: $gray;
      }

      &.active {
          font-weight: bold;
          color: $white;
          background-color: $dark;
      }
    }
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor:pointer;
}

.animate-left {
  position: relative;
  animation: animateleft .4s;
}

@keyframes animateleft {
  from {
    left: -$side-bar-width;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }
}

.text-right {
  text-align: right !important;
}

.push-right {
  float: right !important;
}
.push-left {
  float: left !important;
}

.pl-1 {
  padding-left: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}


.toc-container {
    position: fixed;
    left: $markdown-width+$side-bar-width;
    top: $top-bar-height;
    max-width: 500px;
    width: $side-bar-width;
    padding: 0;
    margin: 0;

    .table-of-contents {
        list-style: none;
        padding: 0;
        margin: 0;
        padding: 15px;

        li {
            font-size: 0.9rem;

            a {
                text-decoration: none;
                &::before { content:"• "; }
                &:hover { text-decoration: underline; }
            }
        }

        li.toc-depth-1 { margin-left: 0px; }
        li.toc-depth-2 { margin-left: 15px; }
        li.toc-depth-3 { margin-left: 30px; }
        li.toc-depth-4 { margin-left: 45px; }
        li.toc-depth-5 { margin-left: 55px; }
        li.toc-depth-6 { margin-left: 65px; }
    }
}

.search-result-container {
    display: none;

    .result-entry {
        padding: 0;
        margin: 20px 0 40px 0;
    }

    button.close {
        background: $dark;
        border: 4px solid $very-dark;
        color: $white;
        padding: 10px 30px;
        text-transform: uppercase;
        float: right;

        &:hover {
            background: $white;
            color: $dark;
            cursor: pointer;
        }
    }
}

.clear {
    clear: both;
}

@media (min-width: $markdown-width+$side-bar-width+1) {
  .hide-large {
    display: none !important;
  }

  .sidebar.collapse {
    display: block !important;
  }
}

@media (max-width: $markdown-width+$side-bar-width*2) {
    .toc-container {
        display: none;
    }
}

@media (max-width: $markdown-width+$side-bar-width) {
  .sidebar.collapse {
    display: none;
  }

  .main-content {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  header {
    background-color: $very-dark;
  }

  .markdown-body, .search-result-container {
      margin-left: auto;
      margin-right: auto;
  }
}
