$white:#FFF;
$black: #000;
$red: #D74B4B; // rgba(215,75,75,1)
$light-gray: #f1f1f1;
$gray: #DCDDD8; // rgba(220,221,216,1)
$dark: #475F77; // rgba(71,95,119,1)
$very-dark: #354B5E; // rgba(53,75,94,1)

$top-bar-height: 58px;
$side-bar-width: 300px;

$markdown-width: 848px;
$markdown-padding: 40px;
