$white:#FFF;
$black: #000;
$red: #D74B4B; // rgba(215,75,75,1)
$light-gray: #f1f1f1;
$gray: #DCDDD8; // rgba(220,221,216,1)
$dark: #475F77; // rgba(71,95,119,1)
$very-dark: #354B5E; // rgba(53,75,94,1)

$top-bar-height: 58px;
$side-bar-width: 300px;

$markdown-width: 848px;
$markdown-padding: 40px;

$max-body-width: 2000px;

// markdown color variables
$cl_24292e: #24292e;
$cl_1b1f23: #1b1f23;
$cl_0366d6: #0366d6;
$cl_e1e4e8: #e1e4e8;
$cl_6a737d: #6a737d;
$cl_005cc5: #005cc5;
$cl_444d56: #444d56;
$cl_fafbfc: #fafbfc;
$cl_b31d28: #b31d28;
$cl_d73a49: #d73a49;
$cl_032f62: #032f62;
$cl_e36209: #e36209;
$cl_22863a: #22863a;
$cl_735c0f: #735c0f;
$cl_ffeef0: #ffeef0;
$cl_f0fff4: #f0fff4;
$cl_ffebda: #ffebda;
$cl_f6f8fa: #f6f8fa;
$cl_ffea7f: #ffea7f;
$cl_dfe2e5: #dfe2e5;
$cl_c6cbd1: #c6cbd1;
$cl_fff: #fff;
